body {
	font-family: "Open Sans", sans-serif;
}
/*** navbar ***/
.navbar {
	background-color: #43b97b;
}

/*** toggle ***/
.navbar-toggle {
	top: 3px;
	border: 1px solid #fff;
	padding: 5px 10px;
}
.fa-bars {
	color: #fff;
}
/*** header ***/
.navbar-header {
    margin-left: -15px !important;
    display: block;
}
.navbar-brand {
	font-size: inherit;
	float: none;
	position: relative;
	top: 6px;
}
.navbar-brand > img {
	display: inline-block;
}
.logo {
	max-width: 66px;
	height: auto;
	float: none;
}
.navbar-brand-text {
  font-size: 20px;
  font-family: "Slabo 27px", serif;
  color: rgb(255, 255, 255);
  line-height: 1.6;
  margin-left: 15px;
  text-align: left;
  display: inline;
  position: relative;
  top: 4px;
}
.navbar-brand-text:hover {
	text-decoration: none;
	color: #fff;
}

/*** list ***/
a {
	text-decoration: none;
	color: #fff;
}
.nav > li > a:focus, .nav > li > a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #eee0;
}
#nav-inline {
	display: -webkit-box;
}
.list-inline {
	list-style: none;
}
.list-inline-item {
	font-size: 18px;
	display: inline-block;
}
.list-inline-item:last-child {
	padding-right: 0;
	margin-right: 0;
}
.navbar-right {
	display: none;
}
ul.social-buttons > li > a.navbar-social {
	font-size: 20px;
	font-weight: bold;
	width: 40px;
	height: 40px;
	display: block;
	outline: 0;
	background-color: #fff;
	color: #43b97b;
	border-radius: 100%;
}
.i-style {
	top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
	.navbar-header {
	    margin-left: -15px !important;
	    display: inline-block;
	    position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	}
	.navbar-brand {
		top: 0;
	}
	.navbar-nav > li > a {
		padding-top: 0;
		padding-bottom: 0;
	}
	.navbar-menu {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.navbar-right {
		display: block;
	}
}

@media (min-width: 992px) {
	#mainNav {
		padding-top: 25px;
		padding-bottom: 25px;
	}
}